.personal {
    max-width: 600px;
    margin: 0 auto;
}

.personal_errors {
    margin: 25px 0px;
}

.anketa_block {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    margin-top: 34px;
    border-top: 1px solid #8E8E8E;
}

.personal_btns {
    display: flex;
    margin-top: 36px;
}

.personal_btns .btn {
    width: 45%;
}

.anketa_item {  
    font-size: 24px;
    font-weight: 500;
    line-height: 120%;  
    margin-bottom: 14px;
} 

.anketa_text {
    margin-bottom: 14px;
}  

.anketa_fix {
    margin-top: 14px;
}

.cabinet_box {
    min-width: 250px;
    height: 250px;
    border-radius: 10px;
    background: #1E1510;
    margin: 20px 0px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabinet_img {
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 250px;
    height: 250px;
    background: yellow;
    border-radius: 10px;
}

.cabinet_noimg {
    color: #FFF0D2;
}

@media (max-width: 992px) {
    .anketa_block {
        padding-top: 20px;
        margin-top: 17px;
    }
}

@media (max-width: 767px) {
    .anketa_item {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .anketa_text {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .personal_btns {
        margin-top: 20px;
    }    

    .cabinet_box {
        width: 250px;
        margin: 20px auto 10px;
    }
}

@media (max-width: 576px) {
    .personal_btns {
        flex-direction: column;
    }

    .personal_btns .btn {
        width: 100%;
        margin-bottom: 10px;
    }

    .anketa_item {
        text-align: center;
    }

    .personal .btn {
        width: 100%;
    }

    .anketa_block {
        padding-top: 10px;
        margin-top: 17px;
        flex-direction: column;
    }

    .anketa_block .cabinet_box {
        order: 1;
    }

    .anketa_inner {
        order: 2;
    }
}
