.login_inner {
    margin-top: 200px;
    min-height: 540px;
    background: url(../../assets/img/main/stripes.svg), #FFF0D2 50% / cover no-repeat;
}

.login_text {
    margin-top: 48px;
}

.login_content {
    position: relative;
}

.login_form {
    position: absolute;
    top: -140px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 464px;
    min-height: 647px;
    margin: 0 auto;
    padding: 32px;
    color: #FFF0D2;
    border-radius: 20px;
    background: #1E1510;
}

.login_form_text {
    margin-bottom: 10px;
    font-size: 16px;
}

.login_form_item {
    width: 100%;
    height: 46px;
    margin-bottom: 12px;
    padding: 10px 16px;
    border-radius: 10px;
    border: 0.2px solid #5C4538;
    background: #FFF;
}

.login_form_phone { 
    display: flex;
    align-items: center;   
    width: 175px;
    position: relative;
    cursor: pointer;
    color: #1E1510;
}

.login_form_dropdown {
    display: flex;
}

.login_form_dropdown-list {
    position: absolute;
    left: 0;
    width: 100%;
    top: 46px;
    cursor: pointer;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
    display: none;
}

.login_form_phone.is_active .login_form_dropdown-list {
    display: block;
}

.login_form_dropdown-list li {
    padding: 8px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.login_form_dropdown-list li:hover {
    background: lightskyblue;
}

.login_form_dropdown-icon {
    margin-right: 8px;
}

.auth_arrow {    
    appearance: none;
    background: none;
    background-image: url('../img/down_arrow.svg');
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 1em;
}

.login_form_item::placeholder {
    color: rgba(30, 21, 16, 0.50);
    font-size: 12px;
    font-weight: 300;
}

.login_checkbox {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
}

.login_checkbox span {
    margin-top: 3px;
}

.login_checkbox input {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.login_middle {
    border-radius: 10px;
    border: 1px solid #A51228;
    padding: 10px 16px;
    margin: 24px 0px;
    color: #A51228;
}

.login_middle ul {
    margin: 0;
    padding-inline-start: 20px;
}

.login_end .btn {
    width: 365px;
    border: 1px solid rgba(255, 240, 210, 0.50);
    font-size: 14px;
    margin-bottom: 24px;
}

.login_forgot {
    margin: 12px 0px 4px 0px;
    display: flex;
    justify-content: center;
}

.login_forgot span {
    cursor: pointer;
}

.register_textarea {
    resize: vertical;
}

.register_textarea::placeholder {
    padding-top: 5px;
}

.register_phone {
    display: flex;
    align-items: center;
}
