.view {
    min-height: 311px;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    border-top: 1px solid #8E8E8E;
    margin-bottom: 64px;
}

.view_content {
    max-width: 610px;
}

.view .edit_title {
    text-align: left;
}

.view_date {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.view_date img {
    margin-right: 8px;
    margin-top: -3px;
}

.view_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.view_svg {
    transition: fill 0.3s;
}

.view_content .btn {
    width: 184px;
    margin: 0;
    color: #1E1510;
    border: 1px solid #5C4538;
    background: rgba(30, 21, 16, 0.50);
}

.view_content .btn:hover {
    color: #FFF0D2;
}

.view_content .btn:hover .view_svg {
    fill: #FFF0D2;
}

.view_arrow {
    margin-right: 10px;
}

.view_fixmargin {
    margin-top: 50px;
}

.view_top {
    margin-bottom: 30px;
    display: flex;
}

.view_top_content {
    width: 100%;
    display: flex;
    justify-content: center;
}

.view_top_content .btn {
    margin: 0px 15px;
}

@media (max-width: 992px) {
    .view {
        padding-top: 20px;
        margin-bottom: 32px;
    }

    .view_fixmargin {
        margin-top: 25px;
    }

    .view_inner {
        padding-right: 5px;
    }
}

@media (max-width: 767px) {
    .view_content {
        width: 48%;
    }    

    .view_top {
        margin-bottom: 10px;
    }

    .view_top_content .btn {
        margin: 0 5px;
    }
}

@media (max-width: 576px) {
    .view {
        height: auto;
        flex-direction: column;
    }

    .view .cabinet_box {
        order: 1;
    }

    .view_content {
        order: 2;
        width: 100%;
    }

    .view_date {
        margin-bottom: 16px;
    }

    .view .btn {
        margin-top: 10px;
    }

    .view_fixmargin {
        margin-top: 20px;
    }

    .view_fixmargin .btn {
        width: 100%;
        padding: 10px;
    }

    .view_top_content {
        flex-wrap: wrap;
    }

    .view_top_content .btn {
        margin-bottom: 5px;
    }
}