@import './anketa.css';

html, body {
    margin: 0;
    height: 100%;
}
#app {
    height: 100%;
}
.dz-success-mark, .dz-error-mark {
    display: none;
}
ul, p {
    margin: 0;
}

.register_error {
    text-align: center;
}
.language_item {
    display: inline-block;
}

.user_btn {
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;    
}
.user_btn:hover {
    color: green;
}

.category_title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
}
.category_form {
    margin: 0 auto;
    padding: 5px;
    border: 1px solid burlywood;
    border-radius: 10px;
    width: 50%;
}
.category_form_title {
    display: block;
    margin: 5px 0;
    width: calc(100% - 10px);
}
.category_form_btn {
    cursor: pointer;    
}
.category_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 20px;
}
.category_change_btn {
    cursor: pointer;
    color: aqua;
}
.red {
    color: red;
}

.cabinet {
    height: calc(100% - 18px);    
    display: flex;
}
.cabinet_sidebar {    
    width: 20%;    
    background-color: lightgoldenrodyellow;
    overflow-y: auto;        
}
.cabinet_sidebar_title {
    font-size: 25px;    
    text-align: center;
    background-color: lightgreen;
    border-bottom: 1px solid rebeccapurple;
    padding: 10px 0;
    margin-bottom: 15px;    
}

.cabinet_main {
    width: 80%;
    overflow-y: auto;
}
.admin_sidebar_item {
    margin: 5px;
    padding: 5px;
    background-color: khaki;
    cursor: pointer;
}

.login_title {
    text-align: center;
    font-size: 25px;
}
.login_form {
    display: flex;
    flex-direction: column;    
    width: 400px;
    margin: 0 auto;
    padding: 5px;
    border: 2px solid lightskyblue;
    border-radius: 5px;
}
.login_form_item {    
    margin-bottom: 5px;
}
.login_form_btn {
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin: 0 auto;    
}

.pagination_btn {
    cursor: pointer;
}

.search {
    width: 500px;
    margin: 20px 20px 20px auto; 
    
    display: flex;
    justify-content: space-between;
}
