@import './css/normalize.css';
@import './css/components.css';
@import './css/login.css';
@import './css/block.css';
@import './css/staff.css';
@import './css/service.css';
@import './css/point.css';
@import './css/anketa.css';
@import './css/view.css';
@import './css/popup.css';
@import './css/window.css';


/* Шрифты */
@font-face {
    font-family: Playfair Display;
    font-display: swap;
    src: url("./fonts/PlayfairDisplay-Bold.woff2") format("woff2"), url("./fonts/PlayfairDisplay-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    font-display: swap;
    src: url("./fonts/Roboto-Regular.woff2") format("woff2"), url("./fonts/Roboto-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    font-display: swap;
    src: url("./fonts/Roboto-Medium.woff2") format("woff2"), url("./fonts/Roboto-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    font-display: swap;
    src: url("./fonts/Roboto-Light.woff2") format("woff2"), url("./fonts/Roboto-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Playfair Display;
    font-display: swap;
    src: url("./fonts/PlayfairDisplay-Medium.woff2") format("woff2"), url("./fonts/PlayfairDisplay-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Playfair Display;
    font-display: swap;
    src: url("./fonts/PlayfairDisplay-ExtraBold.woff2") format("woff2"), url("./fonts/PlayfairDisplay-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #1E1510;
}

.main_top_title {
    height: 77px;
    width: 100%;    
    font-size: 64px;
    font-weight: 700;
    font-family: 'Playfair Display';
    line-height: 120%;
    margin-bottom: 16px;
}

.content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content_inner {    
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.no_scroll {
    overflow: hidden;
}

/* 1200px 992px 767px 576px */
