@import './normalize.css';
/*@import './anketa.css';*/

/* Шрифты */
@font-face {
    font-family: Roboto;
    font-display: swap;
    src: url("./fonts/Roboto-Regular.woff2") format("woff2"), url("./fonts/Roboto-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    font-display: swap;
    src: url("./fonts/Roboto-Medium.woff2") format("woff2"), url("./fonts/Roboto-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    font-display: swap;
    src: url("./fonts/Roboto-Light.woff2") format("woff2"), url("./fonts/Roboto-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Playfair Display;
    font-display: swap;
    src: url("./fonts/PlayfairDisplay-Medium.woff2") format("woff2"), url("./fonts/PlayfairDisplay-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Playfair Display;
    font-display: swap;
    src: url("./fonts/PlayfairDisplay-Bold.woff2") format("woff2"), url("./fonts/PlayfairDisplay-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Playfair Display;
    font-display: swap;
    src: url("./fonts/PlayfairDisplay-ExtraBold.woff2") format("woff2"), url("./fonts/PlayfairDisplay-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #1E1510;
}

.content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content_inner {
    flex: 1 1 auto;
}

.no_scroll {
    overflow: hidden;
}

/* 1200px 992px 767px 576px */
/* Компоненты */
.container {
    padding: 0 30px;
    max-width: 100%;
    width: 1168px;
    height: 100%;
    margin: 0 auto;
}

.btn {
    width: 280px;
    height: 48px;
    margin: 0 auto;
    display: flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #1E1510;

    cursor: pointer;
    color: #FFF0D2;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s, background 0.3s;
}

.btn:hover {
    background: #5C4538;
}

/* staff */
.staff_title {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    line-height: 120%;
}

.staff_item {
    width: 262px;
    height: 262px;
    margin-bottom: 32px;
    border-radius: 10px;
    box-shadow: 0px 5px 12px 0px rgba(30, 21, 16, 0.35);
    position: relative;
    cursor: pointer;    
    overflow: hidden;
}

.staff_text {
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 262px;
    height: 76px;
    padding: 25px 14px;

    display: flex;
    align-items: center;
    color: #FFF;
    font-family: Playfair Display;
    font-size: 20px;
    font-weight: 500;
    line-height: 130%; 

    border-radius: 0px 0px 10px 10px;
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(7.5px);
    transition: height 0.75s;
}

.staff_item:hover .staff_text {
    height: 262px;    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: #1E1510;
    font-size: 30px;
    font-weight: 800;
} 

/* main_point */
.main_point {
    background: #FFF0D2;
    padding-bottom: 120px;
}

.main_point_items {
    color: #FFF0D2;
    margin: 64px 0px;
    padding: 64px 0px;
    background: #1E1510;
}

.main_point_inner {
    display: flex;
    justify-content: space-between;
}

.main_point_item {
    display: flex;
    width: 262px;
    height: 150px;
    padding: 16px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid rgba(255, 240, 210, 0.50);
}

.main_point_logo {
    margin-bottom: 24px;
}

.main_point_text {
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}

/* block */
.block {
    background: var(--bgbg-0, #FFF0D2);
    padding: 120px 0px;
    position: relative;
}

.block_back {
    width: 100%;
    height: 393px;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, #AE9B83 0%, rgba(255, 240, 210, 0.50) 95.67%);
}

.block_content {
    position: relative;
    padding-top: 80px;
    border-top: 1px solid rgba(0, 0, 0, 0.20);
}

/* service */
.service_text {
    margin-top: 48px;
}

.service_inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 84px;
}

.service_item {
    display: flex;
    flex-direction: column;
    width: 356px;
    height: 521px;
    padding-bottom: 60px;
    border-radius: 11px;
    background: #1E1510;
    color: #FFF0D2;
    position: relative;
    margin-bottom: 32px;
}

.service_item_img {
    width: 100%;
    height: 100%;
    transition: scale 0.7s;
}

.service_item:hover .service_item_img {
    scale: 1.25;
}

.service_item .btn {
    width: 46px;
    padding: 8px 24px;
    position: absolute;
    right: 31px;
    top: 190px;
    border: 1px solid rgba(255, 240, 210, 0.50);
    background: #5C4538;
    z-index: 2;
}

.service_item .btn:hover {
    background: #1E1510;
}

.service_item__block {
    width: 356px;
    height: 213px;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    position: relative;
}

.service_item_title {
    font-size: 24px;
    font-weight: 300;
    margin: 30px 40px 62px 40px;
}

.service_item_text {
    font-size: 16px;
    margin: 0 40px;
}

/* Старые стили 

html, body {
    margin: 0;
    height: 100%;
}
#app {
    height: 100%;
}
.dz-success-mark, .dz-error-mark {
    display: none;
}
ul, p {
    margin: 0;
}

.register_error {
    text-align: center;
}
.language_item {
    display: inline-block;
}

.user_btn {
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;    
}
.user_btn:hover {
    color: green;
}

.category_title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
}
.category_form {
    margin: 0 auto;
    padding: 5px;
    border: 1px solid burlywood;
    border-radius: 10px;
    width: 50%;
}
.category_form_title {
    display: block;
    margin: 5px 0;
    width: calc(100% - 10px);
}
.category_form_btn {
    cursor: pointer;    
}
.category_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 20px;
}
.category_change_btn {
    cursor: pointer;
    color: aqua;
}
.red {
    color: red;
}

.cabinet {
    height: calc(100% - 18px);    
    display: flex;
}
.cabinet_sidebar {    
    width: 20%;    
    background-color: lightgoldenrodyellow;
    overflow-y: auto;        
}
.cabinet_sidebar_title {
    font-size: 25px;    
    text-align: center;
    background-color: lightgreen;
    border-bottom: 1px solid rebeccapurple;
    padding: 10px 0;
    margin-bottom: 15px;    
}

.cabinet_main {
    width: 80%;
    overflow-y: auto;
}
.admin_sidebar_item {
    margin: 5px;
    padding: 5px;
    background-color: khaki;
    cursor: pointer;
}

.login_title {
    text-align: center;
    font-size: 25px;
}
.login_form {
    display: flex;
    flex-direction: column;    
    width: 400px;
    margin: 0 auto;
    padding: 5px;
    border: 2px solid lightskyblue;
    border-radius: 5px;
}
.login_form_item {    
    margin-bottom: 5px;
}
.login_form_btn {
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin: 0 auto;    
}

.pagination_btn {
    cursor: pointer;
}

.search_block {
    width: 700px;
    margin: 20px 20px 20px auto; 
    
    display: flex;
    justify-content: space-between;
}
*/